{% extends 'base.html.twig' %}

{% block body %}

<h1>Products</h1>

{% for message in app.session.flashBag.get('message') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div style="display : none" class="alert alert-success">
  <p></p>
</div>

<a href="{{path('app_products_create')}}">Create product</a>


<table class="table table-bordered table-striped">
  <tr>
    <th>id</th>
    <th>reference</th>
    <th>price</th>
    <th>show</th>
    <th>edit</th>
    <th>delete</th>
  </tr>

    {% for product in products %}
  <tr id="product-{{product.id}}">
    <td> {{product.id}} </td>
    <td> {{product.reference}} </td>
    <td> {{product.price}} </td>
    <td> <a href="{{path('app_products_show' , {"id":product.id})}}">Voir</a> </td>
    <td> <a href="{{path('app_products_edit', {"id":product.id})}}">Edit</a> </td>
    <!-- <td> <a href="{{path('app_products_delete', {"id":product.id})}}">Delete</a> </td> -->
    <td> <button onClick="deleteProduct({{product.id}})">Supprimer</button></td>
  </tr>
  {% endfor %}
</table>







{% endblock %}
