{% extends 'base.html.twig' %}

{% block body %}

<a href="{{path('app_products_create') }}">Create new product</a>

{% for message in app.session.flashBag.get('message') %}
    <div class="flash-message">
        {{ message }}
    </div>
{% endfor %}



<table class="table table-bordered table-striped">
  <tr>
    <th>id</th>
    <th>reference</th>
    <th>show</th>
    <th>edit</th>
    <th>delete</th>
  </tr>

    {% for product in products %}
  <tr>
    <td> {{product.id}} </td>
    <td> {{product.reference}} </td>
    <td> <a href="{{path('app_products_show' , {"id":product.id})}}">Voir</a> </td>
    <td> <a href="{{path('app_products_edit', {"id":product.id})}}">Edit</a> </td>
    <td> <a href="{{path('app_products_delete', {"id":product.id})}}">Delete</a> </td>
  </tr>
  {% endfor %}
</table>











{% endblock %}
